.DS_Store

*.class

*.moved-aside
*.xcworkspace
*.mode1v3
*.mode2v3
*.pbxuser
!default.xcworkspace
!default.mode1v3
!default.mode2v3
!default.pbxuser
*.perspectivev3
profile
xcuserdata
.idea/*
Backup
bin
gen
obj/
cocos2dcpp_shared
libcocos2dcpp.so
proj.android/assets
proj.android-studio/app/assets
TESTFLIGHT_OUTPUT
*.sublime-workspace
com_crashlytics_export_strings.xml
proj.android/libs/armeabi/gdb.setup
proj.android/libs/armeabi/gdbserver
proj.android-studio/app/libs/armeabi/gdb.setup
proj.android-studio/app/libs/armeabi/gdbserver
